a {
  color: #1772d0;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:focus,
a:hover {
  color: #f09228;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  overflow-x: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5%;
  width: 63%;
}

.name {
  padding-top: 20px;
  margin: 0;
  font-size: 32px;
}

.image-container {
  margin-right: 20px;
  flex-shrink: 0;
}

.profile-image {
  width: 300px;
  border-radius: 3%;
  object-fit: cover;
}

.biography {
  padding: 20px;
  width: 100%;
  text-align: center;
}

a,
strong,
h2,
.papertitle,
.name {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
}

a {
  font-size: 14px;
}

strong {
  font-size: 14px;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-size: 22px;
}

.papertitle {
  font-size: 14px;
  font-weight: 700;
}

.one,
.two {
  width: 160px;
  height: 160px;
}

.two {
  position: absolute;
  transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.image-container {
  margin-left: 20px;
}
